done-*
RCS
*,v
.*.un~
go.work

# any directory except mirror
.cache/
bin/
nitros9/
build-frobio/
build-gcc-4.6.4/
cmoc/
frobio/
gccretro/
include/
lib/
libexec/
lwtools/
m6809-unknown/
nitros9/
share/
toolshed/
whippets/

inputs/

usr/
