*.done
*.got
RCS
*,v
.*.un~
go.work

# any directory except mirror
.cache/
bin/
nitros9/
build-*/
cmoc/
frobio/
gccretro/
include/
lib/
libexec/
lwtools/
m6809-unknown/
nitros9/
share/
toolshed/
whippets/
eou-*09/
FoenixMgr/
copico-bonobo/
gomar/
nekotos/
pico-sdk/
picotool/
tfr9/
turbos/

inputs/

usr/
