done-*
RCS
*,v
.*.un~

# any directory except mirror
.cache/
bin/
nitros9/
bin/
build-frobio/
build-gcc-4.6.4/
cmoc-0.*/
frobio/
gcc-4.6.*/
include/
lib/
libexec/
lwtools-4.*/
m6809-unknown/
nitros9/
share/
toolshed/

mirror/*tar*
mirror/*/

# usr is a symbolic link to .
usr
